.shopping-cart {
    background-color: black;
    /*position: relative;*/
    padding: 25px;
    border-radius: 100px;
    position: fixed;
    bottom: 40px;
    right: 10%;
    z-index: 1;
}

.shopping-cart:active {
    box-shadow: 0 4px 4px gray;
}

#cartIcon{
    color: white;
}

.shopping-cart > p{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    padding: 4px 8px;
    color: white;
    border-radius: 50px;
}