.container{
    display: flex;
    flex-direction: row;
    gap:20px
}
.left_side{
    width: 40%;
    display: flex;
    justify-content: center;
}
.left_side img{

    width: 60%;
    height: 90%;
    /*width: 250px;*/
}
.right_side{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 20px;
}