.container{
    display: flex;
    flex-direction: row;
    gap:20px
}
.left_side{
    width: 30%;
}
.left_side img{
    height: 350px;
    width: 250px;
}
.right_side{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 20px;
}